<launch>
    <arg name="namespace" default="rosbot"/>
    <group ns="$(arg namespace)">
        <node name="rosbot_mpc" pkg="rosbot_mpc" type="rosbot_mpc" respawn="true" clear_params="true" output="screen">
            <remap from="odometry" to="/odometry/filtered" />
            <rosparam file="$(find rosbot_mpc)/cfg/nmpc.yaml" />
            <param name="verbose" value="true" />
        </node>
    </group>
</launch>
