 <launch>      
      <node pkg="aslam_turtlebot" type="aslam_turtlebot_node" respawn="false" name="explore" output="screen"> 
         <rosparam command="load" file="$(find aslam_turtlebot)/config/turtlebot3/frontier_params.yaml"/>
          <remap from="costmap" to="/map"/>
     </node>  
     
 </launch>    
